<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

  </head>
  <body>
    <br>

    <div class="container">
      <div class="well">
        <hr>

          <center>
            <div class="row">
            <div class="col-md-6">
              <img src="../static/img/hobonet.png">
            </div>
            <div class="col-md-6">
              <form method="get">
                <div class="col-md-6 row">
                <input required type="text" placeholder="Wer bist'n du?"></input>
              </div>
              <div class="col-md-6 row">
                <button type="submit" class="btn-md btn-primary form-control" method="get">GO</button>
              </div>
              </form>
            </div>
          </div>
        </center>
        </div>
        </div>
      </div>
  </body>
</html>
