<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

  </head>
  <body>
  <style>
  .outer {
        padding:10px;
         outline: 5px solid whitesmoke;
         border: 2px dashed white;
         background-color: whitesmoke;
         margin: 20%;
         }
  hr{
    border-color: #999900;
  }
  .footer{
    list-style-image: none;
    margin: 20px;
  }
  .well{
    margin: 20px;
    padding: 20px;
  }
  </style>

    <hr>
      <div class="well">
        <h1> Caption</h1>
        <p> Lorem ipsum sit amet und so wweiter und sofortwao dka a daok doakda dka d </p>
      </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-xs-8"><center><div class="well"><p>We provide a lorem cloud based infrasturcture containig cutting edge ipsum sit amet technology. We provide foram sit high-scalability for multipurpose business solutions </p></div></center></div>
      <div class="col-xs-4"><center><img src="../static/img/upload.png"></div></center>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4"><center><img src="../static/img/document.png"></center></div>
      <div class="col-xs-8"><center><div class="well"><p>dahfoesigojdrsgrdijgjjjjoiafjwaokd pawoi jkd a woifjaoi jfliahjt aht lijeai rjalw rjwaijei jawel jwae hwarhj wahrk awhrk</p></div></center></div>

    </div><br>
    <div class="modal-footer">
      <ul><small>
        <li>fork us on <a href="" >Github</a></li>
        <li>other</li>
      <small></ul>
    </div>
    <hr>
  </body>
  </html>
